<h1>Flashcards for the "<%= @deck.name %>" Deck</h1>
<p></p>
<p></p>
<% if @message %>
<h3>Result for last question: <%= @message %></h3>
<% end %>
<h3>Flashcard:</h3>
<img src="<%= @card.question %>">
<p></p>
<p></p>
<p>What is your guess?</p>
<form action="/round/<%= @round.id %>/card/<%= @card.id %>" method="POST">
  <label for="guess">Answer</label>
  <input type="text" name="guess">
  <input type="submit">
</form><br>

<div>
	<table class=''>
	  <tr>
	    <td>Number of Cards Remaining:</td>
	    <td><%= @remaining_cards %></td>
	  </tr>
	  <tr>
	    <td>Number of Guesses Remaining </td>
	    <td><%= @remaining_guesses %></td>
	  </tr>
	  <tr>
	    <td>Number Answered Correct:</td>
	    <td><%= @round.guesses.where(correct: true).count %></td>
	  </tr>
	</table>
</div>