<h1>Flashcards for the "<%= @deck.name %>" Deck</h1>
<p></p>
<p></p>
<h3>Result for last question: <%= @message if @message %></h3>

<h3>Flashcard:</h3>
<img src="<%= @card.question %>">
<p></p>
<p></p>
<p>What is your guess?</p>
<form action="/round/<%= @round.id %>/card/<%= @card.id %>" method="POST">
  <label for="guess">Your guess</label>
  <input type="text" name="guess">
  <input type="submit">
</form>

