<h2 class='profile'>Profile</h2>
<p class='profile'>Welcome <%= @user.email %></p>

<table class='profile'>
  <tr>
    <th>Date</th>
    <th>Deck</th>
    <th>Correct Answers</th>
    <th>Percentage</th>
  </th>
  <% if @stats && @total %>
  <tfoot class='profile_foot'>
    <tr>
      <td>Totals:</td>
      <td><%= @total[:game]  %> </td>
      <td><%= @total[:correct] %> / <%= @total[:total] %></td>
      <td><%= @total[:perc] %>%</td>
    </tr>
  </tfoot>
  <% @stats.each do |stat| %>
    <tr>
      <td><%= stat[:date] %> </td>
      <td><%= stat[:name] %></td>
      <td><%= stat[:correct] %> / <%= stat[:total] %></td>
      <td><%= stat[:perc] %>%</td>
    </tr>
  <% end %>
  
<% end %>

</table>

