<h2> My Profile </h2>
<p>Welcome <%= @user.email %> </p>

<table id="stats">
  <tr>
    <th>Game</th>
    <th>Correct Answers</th>
    <th>Percentage</th>
  </tr>

  <tr>
    <td><%= @stats[:game_name] %></td>
    <td><%= @stats[:correct_ques] %> / <%= @stats[:number_of_questions] %></td>
    <td><%= @stats[:perc] %>%</td>
  </tr>

</table>

